#container_name used because i use external bash script
services:
  api:
    container_name: vas3k-club-reader-api
    depends_on:
      - nginx
    build: 
      context: backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped       
    volumes:
      - ./backend:/app

  nginx:
    image: nginx:1.25.5-alpine3.19
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/app
    restart: unless-stopped
    environment:
      TZ: Europe/Moscow
    ports:
      - ${VAS3K_CLUB_PORT:-3000}:80

  bun:
    build:
      context: frontend
    command: sh -c "cd /app && bun i --frozen-lockfile && bun run build"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_PORT=${VAS3K_CLUB_PORT:-3000}
    profiles:
      - install

  dev-server:
    depends_on: 
      - api
    build:
      context: frontend
    command: sh -c "cd /app && bun run dev --host"  
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_PORT=${VAS3K_CLUB_PORT:-3000}
    profiles:
      - dev
