services:
  api:
    depends_on:
      - nginx
    build: 
      context: backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    volumes:
      - ./backend:/app
    environment:
      TZ: ${TZ:-Europe/Moscow}
      XDEBUG_CONFIG: ${XDEBUG_CONFIG:-idekey=PHPSTORM client_host=host.docker.internal start_with_request=trigger} #start_with_request useless, because env XDEBUG_CONFIG set
      PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-serverName=vas3k-club-reader}
      XDEBUG_MODE: develop, debug
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.sitemap.schedule: "@every 4h"
      ofelia.job-exec.sitemap.command: "bin/console app:sitemap"

  nginx:
    image: nginx:1.27.0-alpine3.19-slim
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/app
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Europe/Moscow}
    ports:
      - ${VAS3K_CLUB_PORT:-3000}:80

  bun:
    build:
      context: frontend
    command: sh -c "cd /app && bun i --frozen-lockfile && bun run build"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_PORT=${VAS3K_CLUB_PORT:-3000}
    profiles:
      - install

  dev-server:
    depends_on: 
      - api
    build:
      context: frontend
    command: sh -c "cd /app && bun run dev --host"  
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_PORT=${VAS3K_CLUB_PORT:-3000}
    profiles:
      - localhost-only

  #docs https://github.com/mcuadros/ofelia
  ofelia:
    image: mcuadros/ofelia:latest
    depends_on:
      - api
    command: daemon --docker
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
