/**
grid
 */
body {
    min-width: 960px;
    margin: auto;
}

.row {
    width: 960px;
    margin: auto;
}

.col_12,
.col_9,
.col_8,
.col_6,
.col_4,
.col_3 {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    float: left;
}

.col_12 {
    width: 940px;
}

.col_9 {
    width: 620px;
}

.col_8 {
    width: 700px;
}

.col_6 {
    width: 460px;
}

.col_4 {
    width: 220px;
}

.col_3 {
    width: 300px;
}

/**
end grid
 */

html {
    font-family: Arial, Helvetica, sans-serif;
    background: gold;
    color: #000;
}

a,
a:visited {
    color: #000;
    font-size: large;
}

.menu {
    justify-content: center;
    display: grid;
}

menu {
    font-weight: bold;
    font-size: x-large;
}

menu span {
    font-size: large;
}

menu sup {
    font-size: small;
}

menu .sup {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);

    padding-left: 20px;
    padding-right: 20px;
}

#content a {
    font-size: larger;
    text-decoration: none;
}

#content li {
    margin-top: 14px;
}

.center {
    text-align: center;
}

#search {
    margin: 30px;
    width: 90%;
    font-size: medium;
}

#nyancat {
    white-space: pre-line;
    width: 100px;
}