:root {
    --grid-maxWidth: 108rem;
    --bg-color: #FFC80A;
    --font-color: #000;
  }

a,
a:visited {
    color: #000;
    font-size: large;
}

menu {
    font-weight: bold;
    font-size: x-large;
}

menu a {
    text-decoration: underline;
}

menu span {
    font-size: x-large;
}

menu sup {
    font-size: small;
}

menu .sup {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

#content a {
    font-size: larger;
    text-decoration: none;
}

#search {
    font-size: medium;
}
